Repository yiisoft/yii-cycle, pull requests merged in 2020-12, with the labels that each got.

#82 Add test cases for SimpleCacheSchemaProvider
  src/Command/CycleDependencyProxy.php
  src/DataReader/Cache/CachedCount.php
  src/Logger/StdoutQueryLogger.php
  src/Schema/Provider/SimpleCacheSchemaProvider.php
  src/Schema/Provider/Support/DeferredSchemaProviderDecorator.php
  src/Schema/SchemaManager.php
  tests/Schema/Provider/BaseSchemaProviderTest.php
  tests/Schema/Provider/FromFilesSchemaProvider/FromFilesSchemaProviderTest.php
  tests/Schema/Provider/PhpFileSchemaProvider/PhpFileSchemaProviderTest.php
  tests/Schema/Provider/SimpleCacheSchemaProviderTest.php
  tests/Schema/Provider/Support/DeferredSchemaProviderDecoratorTest.php
  tests/Schema/Provider/Support/SchemaProviderPipelineTest.php
  tests/Schema/Stub/ArraySchemaProviderTest.php
  tests/Schema/Stub/ConfigurableSchemaProvider.php
  tests/Schema/Stub/SameOriginProvider.php
Labels: status:code review, type:test

#85 Specify Sort fields
  README.md
  docs/en/installation.md
  docs/en/select-data-reader.md
  docs/ru/installation.md
  docs/ru/select-data-reader.md
Labels: status:code review

#86 Add MergeSchemaProvider
  docs/en/reading-schema.md
  docs/ru/reading-schema.md
  src/Exception/DuplicateRoleException.php
  src/Schema/Provider/FromFilesSchemaProvider.php
  src/Schema/Provider/Support/BaseProviderCollector.php
  src/Schema/Provider/Support/MergeSchemaProvider.php
  src/Schema/Provider/Support/SchemaMerger.php
  src/Schema/Provider/Support/SchemaProviderPipeline.php
  tests/Schema/Provider/FromFilesSchemaProvider/FromFilesSchemaProviderTest.php
  tests/Schema/Provider/FromFilesSchemaProvider/files/schema2-duplicate.php
  tests/Schema/Provider/FromFilesSchemaProvider/files/schema2.php
  tests/Schema/Provider/Support/BaseProviderCollectorTest.php
  tests/Schema/Provider/Support/MergeSchemaProviderTest.php
  tests/Schema/Provider/Support/SchemaMergerTest.php
  tests/Schema/Provider/Support/SchemaProviderPipelineTest.php
Labels: status:code review, type:docs

#87 Add repository provider
  composer.json
  config/providers-web.php
  src/Factory/RepositoryProvider.php
Labels: status:ready for merge, type:docs
