Repository yiisoft/yii-cycle, pull requests merged in 2021-12, with the labels that each got.

#121 Adjust config
  config/common.php
  src/Factory/RepositoryContainer.php
Labels: status:code review

#110 Docs in spanish
  README.md
  docs/es/README.md
  docs/es/console-commands.md
  docs/es/entity-reader.md
  docs/es/installation.md
  docs/es/reading-schema.md
Labels: status:code review, type:docs

#127 Update documentation; remove unnecessary mappers
  README.md
  docs/en/README.md
  docs/en/installation.md
  docs/es/README.md
  docs/es/installation.md
  docs/ru/README.md
  docs/ru/entity-reader.md
  docs/ru/installation.md
  src/Mapper/SoftDeletedMapper.php
  src/Mapper/TimestampedMapper.php
Labels: type:docs

#128 Supporting for `Entity Behaviors`
  composer.json
  config/common.php
Labels: status:code review
